<% flash.each do |type, message| %>
  <%  if message.class == String  # regular flash notices, alerts, etc. will be strings
    message = [message]
  end %>
  <div class="alert <%= bootstrap_class_for(type) %> ">
    <button class="close" data-dismiss="alert">×</button>
    <ul>
      <% message.each do |message| %> 
        <li><%= message %></li>
      <% end %>
    </ul> 
  </div>
<% end %>